#clients {
    width: 100%;

    .wrapper {
        padding: 150px 0;

        &__title {
            h1 {
                height: 64px;
                font-size: 48px;
                font-weight: 800;
                line-height: 64px;
                letter-spacing: 0em;
                text-align: center;
                color: #EBE6FA;
            }

            p {
                height: 32px;
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0em;
                text-align: center;
                color: #E2E1E4;
            }
        }

        &__logos {
            margin-top: 80px;
            padding: 0 95px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);

            &--card {
                width: 170px;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                place-content: center;
                row-gap: 20px;

                &-logo {
                    width: 170px;
                    height: 96px;
                    border-radius: 16px;
                    background-color: #ffffff;
                    display: grid;
                    place-content: center;
                    margin: 5px auto;
                    transition: all 0.5s ease-in-out;
                    cursor: pointer;
                    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
                    backdrop-filter: blur(40px);
                    

                    &:hover {
                        transform: scale(1.1);
                        background-color: $btn-primary;
                    }
                }
            }
        }
    }
}